@font-face {
  font-family: "Montserrat";
  src: url(); }
.prettyprint ol.linenums > li {
  list-style-type: decimal; }

.text-center {
  text-align: center; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FBFBFC; }

#title {
  text-align: center;
  font-size: 4em;
  padding: 1em 0 1em 0; }

.no-margin {
  margin: 0; }

#sideColumn {
  padding: 1em;
  border-left: 1px solid black; }

#signature {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#signatureSizer {
  margin: 1em;
  padding: 1em;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto; }

.right-col-hr {
  margin-top: 2em;
  margin-bottom: 2em; }

.fa-github-square {
  color: #4078c0; }

.fa-linkedin {
  color: #0077B5; }

.expando-content {
  padding: 0.5em; }
  .expando-content .collapse {
    margin: 1em; }

.resizable {
  overflow: auto;
  resize: both;
  min-height: 175px;
  min-width: 360px;
  max-width: 720px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

#resume {
  width: 100%;
  height: calc(100% - 1.5em);
  margin-top: .5em;
  margin-bottom: .5em;
  border: 1px black solid; }

.MainColumnExpandingButton {
  width: 100%;
  border-radius: .125em;
  border: 1px black solid; }
  .MainColumnExpandingButton .fa-caret-right, .MainColumnExpandingButton .fa-caret-left {
    padding: 0.25em; }
  .MainColumnExpandingButton[aria-expanded="false"] {
    background-color: #FBFBFC;
    border: 1px black solid;
    -webkit-transition: background-color, 0.35s;
    -moz-transition: background-color, 0.35s;
    -o-transition: background-color, 0.35s;
    -ms-transition: background-color, 0.35s;
    transition: background-color, 0.35s;
    -webkit-transition: border, 0.35s;
    -moz-transition: border, 0.35s;
    -o-transition: border, 0.35s;
    -ms-transition: border, 0.35s;
    transition: border, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="false"] > .MainColumnExpandingText {
      color: #1E2542;
      -webkit-transition: color, 0.35s;
      -moz-transition: color, 0.35s;
      -o-transition: color, 0.35s;
      -ms-transition: color, 0.35s;
      transition: color, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="false"] .fa-caret-right {
      transform: rotate(0deg);
      -webkit-transition: transform, 0.35s;
      -moz-transition: transform, 0.35s;
      -o-transition: transform, 0.35s;
      -ms-transition: transform, 0.35s;
      transition: transform, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="false"] .fa-caret-left {
      transform: rotate(0deg);
      -webkit-transition: rotate(0deg), 0.35s;
      -moz-transition: rotate(0deg), 0.35s;
      -o-transition: rotate(0deg), 0.35s;
      -ms-transition: rotate(0deg), 0.35s;
      transition: rotate(0deg), 0.35s; }
    .MainColumnExpandingButton[aria-expanded="false"] + .collapsing + .expando-separator, .MainColumnExpandingButton[aria-expanded="false"] + .collapse + .expando-separator {
      padding-top: 1em;
      -webkit-transition: padding-top, 0.35s;
      -moz-transition: padding-top, 0.35s;
      -o-transition: padding-top, 0.35s;
      -ms-transition: padding-top, 0.35s;
      transition: padding-top, 0.35s; }
  .MainColumnExpandingButton[aria-expanded="true"] {
    background-color: #77A3C3;
    border: 1px #77A3C3 solid;
    -webkit-transition: background-color, 0.35s;
    -moz-transition: background-color, 0.35s;
    -o-transition: background-color, 0.35s;
    -ms-transition: background-color, 0.35s;
    transition: background-color, 0.35s;
    -webkit-transition: border, 0.35s;
    -moz-transition: border, 0.35s;
    -o-transition: border, 0.35s;
    -ms-transition: border, 0.35s;
    transition: border, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="true"] > .MainColumnExpandingText {
      color: #FBFBFC;
      -webkit-transition: color, 0.35s;
      -moz-transition: color, 0.35s;
      -o-transition: color, 0.35s;
      -ms-transition: color, 0.35s;
      transition: color, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="true"] .fa-caret-right {
      transform: rotate(90deg);
      -webkit-transition: transform, 0.35s;
      -moz-transition: transform, 0.35s;
      -o-transition: transform, 0.35s;
      -ms-transition: transform, 0.35s;
      transition: transform, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="true"] .fa-caret-left {
      transform: rotate(-90deg);
      -webkit-transition: transform, 0.35s;
      -moz-transition: transform, 0.35s;
      -o-transition: transform, 0.35s;
      -ms-transition: transform, 0.35s;
      transition: transform, 0.35s; }
    .MainColumnExpandingButton[aria-expanded="true"] + .collapsing + .expando-separator, .MainColumnExpandingButton[aria-expanded="true"] + .collapse + .expando-separator {
      padding-top: 0em;
      -webkit-transition: padding-top, 0.35s;
      -moz-transition: padding-top, 0.35s;
      -o-transition: padding-top, 0.35s;
      -ms-transition: padding-top, 0.35s;
      transition: padding-top, 0.35s; }

.collapse + .expando-separator {
  display: block;
  padding-top: 1em; }

.expando-parent.show ~ .expando-parent.show::before, .expando-parent.show ~ .expando-parent.collapsing::before, .expando-parent.collapsing ~ .expando-parent.show::before, .expando-parent.collapsing ~ .expando-parent.collapsing::before {
  content: "\00a0";
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: lightgray; }

.footer-separator {
  margin-left: 15%;
  margin-right: 15%; }

.centerText {
  text-align: center; }

.centerUnderlined {
  text-decoration: none; }
  .centerUnderlined:hover {
    text-decoration: none;
    color: #1E2542; }
  .centerUnderlined:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1E2542;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transition: all, 0.35s;
    -moz-transition: all, 0.35s;
    -o-transition: all, 0.35s;
    -ms-transition: all, 0.35s;
    transition: all, 0.35s; }
  .centerUnderlined:hover:before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transition: all, 0.35s;
    -moz-transition: all, 0.35s;
    -o-transition: all, 0.35s;
    -ms-transition: all, 0.35s;
    transition: all, 0.35s; }

.meetBox {
  background: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #FBFBFC;
  font-weight: inherit;
  position: relative;
  vertical-align: middle;
  border-radius: 0;
  color: #77A3C3;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -o-transition: color 0.35s;
  -ms-transition: color 0.35s;
  transition: color 0.35s; }
  .meetBox::before, .meetBox::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    width: 0;
    height: 0; }
  .meetBox::before, .meetBox::after {
    top: 0;
    left: 0; }
  .meetBox[aria-expanded="false"]:hover {
    color: #67657F; }
    .meetBox[aria-expanded="false"]:hover::before, .meetBox[aria-expanded="false"]:hover::after {
      width: 100%;
      height: 100%; }
    .meetBox[aria-expanded="false"]:hover::before {
      border-top-color: #67657F;
      border-right-color: #67657F;
      -webkit-transition: width 0.175s ease-out, height 0.175s ease-out 0.175s;
      -moz-transition: width 0.175s ease-out, height 0.175s ease-out 0.175s;
      -o-transition: width 0.175s ease-out, height 0.175s ease-out 0.175s;
      -ms-transition: width 0.175s ease-out, height 0.175s ease-out 0.175s;
      transition: width 0.175s ease-out, height 0.175s ease-out 0.175s; }
    .meetBox[aria-expanded="false"]:hover::after {
      border-bottom-color: #67657F;
      border-left-color: #67657F;
      -webkit-transition: height 0.175s ease-out, width 0.175s ease-out 0.175s;
      -moz-transition: height 0.175s ease-out, width 0.175s ease-out 0.175s;
      -o-transition: height 0.175s ease-out, width 0.175s ease-out 0.175s;
      -ms-transition: height 0.175s ease-out, width 0.175s ease-out 0.175s;
      transition: height 0.175s ease-out, width 0.175s ease-out 0.175s; }
  .meetBox[aria-expanded="true"] {
    background-color: #77A3C3; }
    .meetBox[aria-expanded="true"]::before, .meetBox[aria-expanded="true"]::after {
      border-color: #67657F;
      width: 100%;
      height: 100%;
      transition: none; }

#Skills {
  margin-right: 2em; }

.expando-parent .expando-content .skill-bar {
  width: 70%;
  height: 40px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); }
  .expando-parent .expando-content .skill-bar .bar {
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-color: purple;
    -webkit-transition: width 0.175s ease-out, background-image 0.175s ease-out;
    -moz-transition: width 0.175s ease-out, background-image 0.175s ease-out;
    -o-transition: width 0.175s ease-out, background-image 0.175s ease-out;
    -ms-transition: width 0.175s ease-out, background-image 0.175s ease-out;
    transition: width 0.175s ease-out, background-image 0.175s ease-out; }

.skill ~ .skill {
  margin-top: 1.5em; }
.skill h4, .skill .bar {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto; }

/*# sourceMappingURL=houdini111.css.map */
