#sideColumn 
{
    background-color: #efefef;
}

.resizable {
    overflow: auto;
    resize: both;
    min-height: 175px;
    min-width: 360px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#resume {
    width: 100%;
    height: calc(100% - 1.5em);
    margin-top: .5em;
    margin-bottom: .5em;
}

#ResumeButton
{
	width: 100%;
    background-color: #BBBBBB;
    border-radius: .125em;
}

#ResumeButton[aria-expanded="false"] .fa-caret-right
{
	transform: rotate(0deg);
	transition: transform 0.25s;
}

#ResumeButton[aria-expanded="false"] .fa-caret-left
{
	transform: rotate(0deg);
	transition: transform 0.25s;
}

#ResumeButton[aria-expanded="true"] .fa-caret-right
{
	transform: rotate(90deg);
	transition: transform 0.25s;
}

#ResumeButton[aria-expanded="true"] .fa-caret-left
{
	transform: rotate(-90deg);
	transition: transform 0.25s;
}