body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FBFBFC;
}

#title
{
    text-align: center;
    font-size: 4em;
    padding: 1em 0 1em 0;
}

#sideColumn 
{
    background-color: #efefef;
    padding: 1em;
    max-width: 610px;
}

#signature
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#signatureSizer 
{
    margin: 1em;
    padding: 1em;
    width: 100%;
    max-width: 450px;
}

.profile-links
{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 4em;
}

.fa-github-square 
{
    color: #4078c0;
}

.fa-linkedin
{
    color: #0077B5;
}

.main-col
{
    padding-left: 30px;
}

.expando-content 
{
    padding: 0.5em;
}

.expando-content .collapse
{
    margin: 1em;
}

.resizable 
{
    overflow: auto;
    resize: both;
    min-height: 175px;
    min-width: 360px;
    max-width: 720px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#resume 
{
    width: 100%;
    height: calc(100% - 1.5em);
    margin-top: .5em;
    margin-bottom: .5em;
}

.MainColumnExpandingButton 
{
    width: 100%;
    border-radius: .125em;
}

.MainColumnExpandingButton[aria-expanded="false"] .fa-caret-right 
{
    transform: rotate(0deg);
    transition: transform 0.25s;
}

.MainColumnExpandingButton[aria-expanded="false"] .fa-caret-left 
{
    transform: rotate(0deg);
    transition: transform 0.25s;
}

.MainColumnExpandingButton[aria-expanded="true"] .fa-caret-right 
{
    transform: rotate(90deg);
    transition: transform 0.25s;
}

.MainColumnExpandingButton[aria-expanded="true"] .fa-caret-left 
{
    transform: rotate(-90deg);
    transition: transform 0.25s;
}

.collapse + .expando-separator
{
    display: block;
    padding-top: 1em;
}

.MainColumnExpandingButton[aria-expanded="false"] + .collapsing + .expando-separator, .MainColumnExpandingButton[aria-expanded="false"] + .collapse + .expando-separator
{
    padding-top: 1em;
    transition: padding-top 0.5s;
}

.MainColumnExpandingButton[aria-expanded="true"] + .collapsing + .expando-separator, .MainColumnExpandingButton[aria-expanded="true"] + .collapse + .expando-separator
{
    padding-top: 0em;
    transition: padding-top 0.5s;
}

.lightShadeBG
{
    background-color: #FBFBFC;
}

.lightAccentBG
{
    background-color: #77A3C3;
}

.mainColorBG
{
    background-color: #3376EE;
}

.darkAccentBG
{
    background-color: #67657F;
}

.darkShadeBG
{
    background-color: #1E2542;
}

.lightShadeFT {
    color: #FBFBFC;
}

.lightAccentFT {
    color: #77A3C3;
}

.mainColorFT {
    color: #3376EE;
}

.darkAccentFT {
    color: #67657F;
}

.darkShadeFT {
    color: #1E2542;
}
