$lightShade: #FBFBFC;
$lightAccent: #77A3C3;
$mainColor: #3376EE;
$darkAccent: #67657F;
$darkShade: #1E2542;

$bootstrapTransitionTime: 0.35s;

@mixin transition($args...)
{
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@font-face
{
    font-family: "Montserrat";
    src: url();
}

.prettyprint ol.linenums > li { list-style-type: decimal; }

.text-center 
{
    text-align: center;
}

body
{
    font-family: 'Montserrat', sans-serif;
    background-color: $lightShade;
}

#title
{
    text-align: center;
    font-size: 4em;
    padding: 1em 0 1em 0;
}

.no-margin
{
    margin: 0;
}

#sideColumn 
{
    padding: 1em;
    border-left: 1px solid black;
}

#signature
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#signatureSizer 
{
    margin: 1em;
    padding: 1em;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.right-col-hr
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.fa-github-square 
{
    color: #4078c0;
}

.fa-linkedin
{
    color: #0077B5;
}

.expando-content 
{
    padding: 0.5em;

    .collapse
    {
        margin: 1em;
    }
}

.resizable 
{
    overflow: auto;
    resize: both;
    min-height: 175px;
    min-width: 360px;
    max-width: 720px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#resume 
{
    width: 100%;
    height: calc(100% - 1.5em);
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px black solid;
}

.MainColumnExpandingButton 
{
    width: 100%;
    border-radius: .125em;
    border: 1px black solid;

    .fa-caret-right, .fa-caret-left 
    {
        padding: 0.25em;
    }

    &[aria-expanded="false"] 
    {
        background-color: $lightShade;
        border: 1px black solid;
        @include transition(background-color, $bootstrapTransitionTime);
        @include transition(border, $bootstrapTransitionTime);

        > .MainColumnExpandingText 
        {
            color: $darkShade;
            @include transition(color, $bootstrapTransitionTime);
        }

        .fa-caret-right 
        {
            transform: rotate(0deg);
            @include transition(transform, $bootstrapTransitionTime);
        }

        .fa-caret-left 
        {
            transform: rotate(0deg);
            @include transition(rotate(0deg), $bootstrapTransitionTime)
        }

        + .collapsing + .expando-separator, + .collapse + .expando-separator 
        {
            padding-top: 1em;
            @include transition(padding-top, $bootstrapTransitionTime)
        }
    }

    &[aria-expanded="true"] 
    {
        background-color: $lightAccent;
        border: 1px $lightAccent solid;
        @include transition(background-color, $bootstrapTransitionTime);
        @include transition(border, $bootstrapTransitionTime);

        > .MainColumnExpandingText 
        {
            color: $lightShade;
            @include transition(color, $bootstrapTransitionTime);
        }

        .fa-caret-right 
        {
            transform: rotate(90deg);
            @include transition(transform, $bootstrapTransitionTime);
        }

        .fa-caret-left 
        {
            transform: rotate(-90deg);
            @include transition(transform, $bootstrapTransitionTime);
        }

        + .collapsing + .expando-separator, + .collapse + .expando-separator 
        {
            padding-top: 0em;
            @include transition(padding-top, $bootstrapTransitionTime)
        }
    }
}

.collapse + .expando-separator
{
    display: block;
    padding-top: 1em;
}


.expando-parent
{
    &.show, &.collapsing
    {
        ~ .expando-parent
        {
            &.show::before, &.collapsing::before
            {
                content: "\00a0 ";
                display: inline-block;
                height: 1px;
                width: 100%;
                background-color: lightgray;
            }
        }
    }
}

/*
.expando-parent
{
    &.show + .expando-parent, &.collapsing + .expando-content
    {
        &.show::before, &.collapsing::before
        {
            content: "\00a0 ";
            display: inline-block;
            height: 1px;
            width: 100%;
            background-color: lightgray;
        }
    }
}
*/

.footer-separator
{
    margin-left: 15%;
    margin-right: 15%;
}

.centerText
{
    text-align: center;
}

.centerUnderlined
{
    text-decoration: none;

    &:hover
    {
        text-decoration: none;
        color: $darkShade;
    }

    &:before
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $darkShade;
        visibility: hidden;
        transform: scaleX(0);
        @include transition(all, $bootstrapTransitionTime);
    }

    &:hover:before
    {
        visibility: visible;
        transform: scaleX(1);
        @include transition(all, $bootstrapTransitionTime);
    }
}

.meetBox {
    background: none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;

    border: 0;
    box-sizing: border-box;
    padding: 1em 2em;
    box-shadow: inset 0 0 0 2px $lightShade;
    font-weight: inherit;
    position: relative;
    vertical-align: middle;
    border-radius: 0;

    color: $lightAccent;
    @include transition(color $bootstrapTransitionTime);

    &::before, &::after 
    {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }

    &::before, &::after 
    {
        top: 0;
        left: 0;
    }

    &[aria-expanded="false"] 
    {
        &:hover 
        {
            color: $darkAccent;

            &::before, &::after 
            {
                width: 100%;
                height: 100%;
            }

            &::before 
            {
                border-top-color: $darkAccent;
                border-right-color: $darkAccent;
                @include transition(width $bootstrapTransitionTime/2 ease-out, height $bootstrapTransitionTime/2 ease-out $bootstrapTransitionTime/2);
            }

            &::after 
            {
                border-bottom-color: $darkAccent;
                border-left-color: $darkAccent;
                @include transition(height $bootstrapTransitionTime/2 ease-out, width $bootstrapTransitionTime/2 ease-out $bootstrapTransitionTime/2);
            }
        }
    }
    
    &[aria-expanded="true"] 
    {
        background-color: $lightAccent;

        &::before, &::after 
        {
            border-color: $darkAccent;
            width: 100%;
            height: 100%;
            transition: none;
        }
    }
    
}