.game_canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.nearest_neighbor_canvas {
    //Per https://css-tricks.com/keep-pixelated-images-pixelated-as-they-scale/
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}


#game_container {
    width: 100%;
    height: auto;
}

#board_container {
    position: relative;
    width: 0;
    height: 1px;
    margin: auto;
}



#board_background {
    background-color: gray;
}