#game_container {
    width: 100%;
    height: auto;
}

#board_container {
    text-align: center;
}


#board_grid {
    @extend .nearest_neighbor_canvas;
    position: absolute;
    background-color: transparent;
}

#board {
    @extend .nearest_neighbor_canvas;
    position: absolute;
    background-color: transparent;
}

.nearest_neighbor_canvas {
    //Per https://stackoverflow.com/a/7665647/4698411
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE    */
}